.services {
	position: relative;
	top: 12rem;
	margin-top: 4rem;
	margin-bottom: 14rem;
}

.services .contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.services .contents .content {
	width: 30%;
	height: auto;
	border: 2px solid #ddd;
	padding: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.services .contents .content:nth-child(even) {
	background-color: rgb(1, 1, 34);
	border: 2px solid rgb(1, 1, 34);
	color: white;
}

.services .contents .content::after {
	content: "";
	position: absolute;
	width: 40%;
	height: 4px;
	top: -6px;
	left: -6px;
	background-color: #ca5a5d;
}

.services .contents .content::before {
	content: "";
	position: absolute;
	width: 4px;
	height: 40%;
	top: -6px;
	left: -6px;
	background-color: #ca5a5d;
}

.services .contents .content p.sub-title {
	margin-bottom: 2px;
	font-size: 1.3rem;
	color: #ed1c24;
	font-weight: 400;
}

.services .main-title {
	font-size: 1.2rem;
	font-weight: 200;
	color: #ed1c24;
	margin-bottom: 10px;
}

.services .title::after {
	background-color: #ed1c24;
}

@media screen and (max-width: 760px) {
	.services .contents {
		flex-direction: column;
	}

	.services .contents .content {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.services .contents .content p:first-child {
		font-size: 1.2rem;
	}
}
